.bg-myColorNavBar {
  background: radial-gradient(
    circle at 69% 74%,
    #079b22,
    #0fd70d,
    rgba(91, 240, 54, 1)
  );
}
.bg-myColorFooter {
  background: radial-gradient(
    circle at 50% 50%,
    #ff0037,
    rgba(255, 144, 168, 1),
    rgba(89, 68, 72, 1)
  );
}


/*HomePage*/

.home-page {  display: grid;
  grid-template-columns: 20px 1fr 2.4fr 1fr 20px;
  grid-template-rows: 80px 0.2fr 1.8fr 80px 2.2fr 0.3fr 80px;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . intro-to-home . ."
    ". . . . ."
    ". . lead-to-buttons-homepage . ."
    ". blue-button-homepage . red-button-homepage ."
    ". . . . .";
}

.red-button-homepage { grid-area: red-button-homepage;


position: absolute;
right:    0;
bottom:   5;
align-self: end;
}

.blue-button-homepage { grid-area: blue-button-homepage;
position: absolute;
left:    0;
bottom:   5;
align-self: end; }

.lead-to-buttons-homepage { grid-area: lead-to-buttons-homepage;
border:  outset #2d7842;
display: flex ;
 }

.intro-to-home { grid-area: intro-to-home; }

/* Blinking Text */

@keyframes blink {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

 .homepage-blink {
            text-align: center;
            margin-top: 20%;
            font-size: 24px;
            color: green;
            animation: blink 1.5s infinite;
        }




 



/* About Me Page */

.about-me {
  display: grid;
  grid-template-columns: 0.8fr 1.6fr 0.6fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-areas:
    ". text-about-me ."
    ". form-about-me ."
    ". closer-about-me .";
}

.text-about-me {
  grid-area: text-about-me;
}

.form-about-me {
  grid-area: form-about-me;
}

.closer-about-me {
  grid-area: closer-about-me;
}

/* Resources page */


.resources-page {  display: grid;
  grid-template-columns: 1.3fr 1.4fr;
  grid-template-rows: 0.5fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title-resources title-resources"
    "wiki-resources serious-resources";
}

.title-resources { grid-area: title-resources;
border: 10px outset #2d7842;
display: flex ;
align-content: center;
 }

.wiki-resources { grid-area: wiki-resources;
border: 10px outset #2d7842; }

.serious-resources { grid-area: serious-resources; border: 10px outset #2d7842; }
